.material-icons {
  vertical-align: middle;
  &:hover {
    text-decoration: none;
  }
}

/* Rules for sizing the icon. */

.material-icons.md-12 {
  font-size: 12px;
}
.material-icons.md-14 {
  font-size: 14px;
}
.material-icons.md-16 {
  font-size: 16px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-20 {
  font-size: 20px;
}
.material-icons.md-22 {
  font-size: 22px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-28 {
  font-size: 28px;
}
.material-icons.md-30 {
  font-size: 30px;
}
.material-icons.md-32 {
  font-size: 32px;
}
.material-icons.md-36,
.material-icons-outlined.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-60 {
  font-size: 60px;
}
.material-icons.md-72 {
  font-size: 72px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-primary {
  color: #ffb81c;
}
.material-icons.md-primary-dark {
  color: #eca200;
}
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.7);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.3);
}
.material-icons.md-dark.md-dimmed {
  color: rgba(0, 0, 0, 0.2);
}
.material-icons.md-black {
  color: rgba(0, 0, 0, 1);
}
.material-icons.md-check {
  color: #333333;
}
.material-icons.md-help {
  color: rgba(0, 0, 0, 0.5);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}
.material-icons.md-action {
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.material-icons.md-coupon {
  color: #ffb81c;
}
.material-icons.md-action.active,
.material-icons.md-action:hover,
.material-icons.md-action:focus {
  color: #ffb81c;
}

.material-icons.md-warn {
  color: rgba(204, 74, 74, 1);
  padding-right: 3px;
}
.material-icons.md-error {
  color: #721c24;
  padding-right: 3px;
  margin-top: -2px;
}
.material-icons.md-reply {
  transform: scaleX(-1);
  margin-top: -3px;
}
.material-icons.md-star {
  margin-top: -2px;
}
.material-icons.md-comment {
  margin-top: 1px;
}
